<!DOCTYPE html>
<html lang="pt-br">

<head>

    <FluentDesignTheme CustomColor="#0598ff" Mode="DesignThemeModes.Light" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" />
    <link rel="stylesheet" href="Linter.styles.css" />
    <link rel="icon" type="image/x-icon" href="~/recursos/Icones/profits.ico" />

    <HeadOutlet />

    <link rel="stylesheet" href="app.css" />
</head>

<body>

    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>

