<div class="centralizado">

    <h3>Você está entrando em um local restrito.</h3>
    Tentando entrar sem autorização? Isto não irá funcionar. Apenas administradores podem acessar esta guia.
    <br />


    <img src="/recursos/imagens/image_minimalist.png" />

</div>
@code {

    }
